<!doctype html>
<html lang="en-uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <select id="user-select">
        <option value="Alice">Alice</option>
        <option value="Bob">Bob</option>
        <option value="Charlie">Charlie</option>
    </select>

    <button id="confirm-btn">Confirm</button>

    <p id="username">Please select a user from the dropdown menu</p>
    <div id="sites">

    </div>
</body>
<script src="../static/js/app.js"></script>
</html>
